<h1 class="text-center">Devices</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">type</th>
    <th scope="col">serial number</th>
    <th scope="col">Edit</th>
  </tr>
  </thead>
  {{#each @model as |device|}}
    <tr>
      <td>{{device.id}}</td>
      <td>{{device.type}}</td>
      <td>{{device.serial_number}}</td>
      <LinkTo @route="devices.edit" @model={{device.id}}>
        Edit
      </LinkTo>
    </tr>
  {{/each}}


</table>